/* Variables */
:root{
    --color-primary: #0165ff;
    --color-secondary: #ff0000;
    --color-tertiary: #00ff00;

    --background-gradient: linear-gradient(141deg, #3f5567, #6d7580 72%, #b6b6b6);
    --background-gray: #9d9d9d;
    --background-gray-light: #e7e7e7;
    --background-gray-lighter: #f5f5f5;
}